.all-pages-style{
   background-color: lightgray;
}

.nav{
  position: sticky;
}

body{
  background: lightgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position:  sticky;
  top:  0;
}

li {
  display: inline;
  float:  left;
  border-right: 1px solid #bbb;
  font-family: "Roboto", sans-serif;
}

li:last-child {
  border-right: none;
}

a:first-child {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: rebeccapurple;
}

.collage{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

.portrait{

}